@charset "UTF-8";
/* Load mixin libs */
/* Load Susy */
/* Load Breakpoint */
/* LOAD VARIABLES */
/* LOAD FRAMEWORK */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #3a8cc9;
  border-radius: 8px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 2.2em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #27638f;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 18px;
  line-height: 1.45; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  line-height: 1.325;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: normal; }

h1 {
  font-size: 46.8px; }

h2 {
  font-size: 35.1px; }

h3 {
  font-size: 32.4px; }

h4 {
  font-size: 27px; }

h5 {
  font-size: 25.2px; }

h6 {
  font-size: 18px; }

p {
  margin: 0 0 0.725em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #3a8cc9;
  text-decoration: none; }
  a:hover {
    color: #27638f; }
  a:active, a:focus {
    color: #27638f;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.45em 0; }

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.45em 0;
  padding-left: 0.725em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

nav {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      list-style: none; }

.serif {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif; }

.sans-serif {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

h1.sans-serif, h2.sans-serif, h3.sans-serif, h4.sans-serif, h5.sans-serif, h6.sans-serif {
  line-height: 1.175em; }

.large-font-size {
  font-size: 20.88px; }

.medium-font-size {
  font-size: 19.98px; }

.small-font-size {
  font-size: 17.1px; }

.h1-font-size {
  font-size: 46.8px; }

.h2-font-size {
  font-size: 35.1px; }

.h3-font-size {
  font-size: 32.4px; }

.h4-font-size {
  font-size: 27px; }

.h5-font-size {
  font-size: 25.2px; }

.theme-color {
  color: #1eb533; }

a.theme-color:hover {
  color: #40df56; }

hr {
  border-color: #1eb533;
  margin: 1.05em 0; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.725em 0;
  padding: 1.45em; }

input,
label,
select {
  display: block;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 18px; }

label {
  font-weight: bold;
  margin-bottom: 0.3625em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: #E8E8E8;
  border-radius: 0px;
  border: 1px solid #E8E8E8;
  box-shadow: none;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 18px;
  margin-bottom: 0.725em;
  padding: 0.4833333333em 0.4833333333em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #1eb533;
    box-shadow: none;
    outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #737373; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #737373;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #737373;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #737373; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.3625em; }

input[type="file"] {
  padding-bottom: 0.725em;
  width: 100%; }

input[type="number"] {
  -moz-appearance: textfield; }

select {
  margin-bottom: 1.45em;
  max-width: 100%;
  width: auto; }

.has-error {
  margin-bottom: 0.75em; }
  .has-error input {
    margin-bottom: 0; }

.has-success input {
  background-image: url(/images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center right 0.25em;
  background-size: 28px 28px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.725em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.725em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.725em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.725em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.725em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.headwrap {
  box-shadow: 0 2px 3px 0 #DFDFDF; }
  .headwrap::after {
    clear: both;
    content: "";
    display: table; }

.container {
  max-width: 62em;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 768px) {
    .container {
      padding-left: 5px;
      padding-right: 5px; } }

.section-container, .section-container-contrast {
  max-width: 62em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 5px; }
  .section-container:after, .section-container-contrast:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .section-container, .section-container-contrast {
      padding: 40px 0px; } }

.section-container {
  background-color: white; }

.section-container-contrast {
  background-color: #E8E8E8; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

hr.thick-border {
  border-bottom: 5px solid #1eb533;
  margin: 0; }

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: white;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content ul {
    padding: 0;
    margin: 0; }
  .sliding-menu-content li {
    list-style: none; }
  .sliding-menu-content a {
    text-decoration: none; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #1eb533;
    color: #1eb533;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content li a:focus {
      background-color: white; }
    .sliding-menu-content li a:hover {
      background-color: none;
      color: #40df56; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.sliding-menu-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .sliding-menu-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-menu-button {
  background: none;
  padding: 11px 0 10px 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none; }
  .sliding-menu-button img {
    height: 20px; }
  .sliding-menu-button:hover {
    background: none; }

.main-content-container {
  max-width: 62em;
  margin-left: auto;
  margin-right: auto; }
  .main-content-container:after {
    content: " ";
    display: block;
    clear: both; }

.row {
  width: 100%;
  float: left; }

.mobile-one-column {
  width: 2.7777777778%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-two-column {
  width: 11.1111111111%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-three-column {
  width: 19.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-four-column {
  width: 27.7777777778%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-five-column {
  width: 36.1111111111%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-six-column {
  width: 44.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-seven-column {
  width: 52.7777777778%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-eight-column {
  width: 61.1111111111%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-nine-column {
  width: 69.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-ten-column {
  width: 77.7777777778%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-eleven-column {
  width: 86.1111111111%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

.mobile-twelve-column {
  width: 94.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }

@media (min-width: 768px) {
  .tablet-one-column {
    width: 2.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-two-column {
    width: 11.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-three-column {
    width: 19.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-four-column {
    width: 27.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-five-column {
    width: 36.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-six-column {
    width: 44.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-seven-column {
    width: 52.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-eight-column {
    width: 61.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-nine-column {
    width: 69.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-ten-column {
    width: 77.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-eleven-column {
    width: 86.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .tablet-twelve-column {
    width: 94.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; } }
@media (min-width: 1024px) {
  .desktop-one-column {
    width: 2.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-two-column {
    width: 11.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-three-column {
    width: 19.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-four-column {
    width: 27.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-five-column {
    width: 36.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-six-column {
    width: 44.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-seven-column {
    width: 52.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-eight-column {
    width: 61.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-nine-column {
    width: 69.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-ten-column {
    width: 77.7777777778%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-eleven-column {
    width: 86.1111111111%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }

  .desktop-twelve-column {
    width: 94.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; } }
@media (min-width: 768px) {
  .tablet-ten-column-centered {
    width: 77.7777777778%;
    float: left;
    margin-left: 11.1111111111%;
    margin-right: -100%;
    clear: left; } }
@media (min-width: 1024px) {
  .desktop-six-column-centered {
    width: 44.4444444444%;
    float: left;
    margin-left: 27.7777777778%;
    margin-right: -100%;
    clear: left; }

  .desktop-eight-column-centered {
    width: 61.1111111111%;
    float: left;
    margin-left: 19.4444444444%;
    margin-right: -100%;
    clear: left; }

  .desktop-ten-column-centered {
    width: 77.7777777778%;
    float: left;
    margin-left: 11.1111111111%;
    margin-right: -100%;
    clear: left; } }
.mobile-full-gallery-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left; }

@media (min-width: 768px) {
  .tablet-half-gallery-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; } }
.split-border-right {
  width: 94.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }
  @media (min-width: 768px) {
    .split-border-right {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      margin: 0;
      padding: 0 2.7777777778%;
      border-right: 1px solid #1eb533; } }

.split-border-left {
  width: 94.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }
  @media (min-width: 768px) {
    .split-border-left {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      margin: 0;
      padding: 0 2.7777777778%;
      border-left: 1px solid #1eb533; } }

@media (max-width: 768px) {
  .hide-for-mobile {
    display: none; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .hide-for-tablet {
    display: none; } }
@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none; } }
.no-margin {
  margin: 0; }

.margin-top-small {
  margin-top: 8px; }

.margin-bottom-small {
  margin-bottom: 8px; }

.margin-left-small {
  margin-left: 8px; }

.margin-right-small {
  margin-right: 8px; }

.margin-top-medium {
  margin-top: 25px; }

.margin-bottom-medium {
  margin-bottom: 25px; }

.margin-left-medium {
  margin-left: 25px; }

.margin-right-medium {
  margin-right: 25px; }

.margin-top-large {
  margin-top: 40px; }

.margin-bottom-large {
  margin-bottom: 40px; }

.margin-left-large {
  margin-left: 40px; }

.margin-right-large {
  margin-right: 40px; }

.margin-negative-top-small {
  margin-top: -8px; }

.margin-negative-bottom-small {
  margin-bottom: -8px; }

.margin-negative-left-small {
  margin-left: -8px; }

.margin-negative-right-small {
  margin-right: -8px; }

.margin-negative-top-medium {
  margin-top: -25px; }

.margin-negative-bottom-medium {
  margin-bottom: -25px; }

.margin-negative-left-medium {
  margin-left: -25px; }

.margin-negative-right-medium {
  margin-right: -25px; }

.margin-negative-top-large {
  margin-top: -40px; }

.margin-negative-bottom-large {
  margin-bottom: -40px; }

.margin-negative-left-large {
  margin-left: -40px; }

.margin-negative-right-large {
  margin-right: -40px; }

.padding-top-small {
  padding-top: 8px; }

.padding-bottom-small {
  padding-bottom: 8px; }

.padding-left-small {
  padding-left: 8px; }

.padding-right-small {
  padding-right: 8px; }

.padding-top-medium {
  padding-top: 25px; }

.padding-bottom-medium {
  padding-bottom: 25px; }

.padding-left-medium {
  padding-left: 25px; }

.padding-right-medium {
  padding-right: 25px; }

.padding-top-large {
  padding-top: 40px; }

.padding-bottom-large {
  padding-bottom: 40px; }

.padding-left-large {
  padding-left: 40px; }

.padding-right-large {
  padding-right: 40px; }

#header {
  background-color: white;
  position: relative; }
  #header .top::after {
    clear: both;
    content: "";
    display: table; }
  #header .top .inner {
    height: 90px;
    padding-top: 20px;
    max-width: 62em;
    margin-left: auto;
    margin-right: auto; }
    #header .top .inner:after {
      content: " ";
      display: block;
      clear: both; }
    @media (max-width: 768px) {
      #header .top .inner {
        padding-left: 5px;
        padding-right: 5px; } }
    #header .top .inner .logo-wrapper .call img, #header .top .inner .contact .call img {
      float: right;
      display: block;
      max-height: 36px;
      max-width: 36px; }
      @media (max-width: 768px) {
        #header .top .inner .logo-wrapper .call img, #header .top .inner .contact .call img {
          margin-top: 4px; } }
    #header .top .inner .logo-wrapper .call a.number, #header .top .inner .contact .call a.number {
      display: none;
      margin-left: 8px;
      float: right;
      color: #1eb533;
      font-size: 22px; }
      @media (min-width: 768px) {
        #header .top .inner .logo-wrapper .call a.number, #header .top .inner .contact .call a.number {
          display: block; } }
    #header .top .inner .logo-wrapper {
      width: 61.1111111111%;
      float: left;
      margin-left: 2.7777777778%;
      margin-right: 2.7777777778%; }
      @media (max-width: 768px) {
        #header .top .inner .logo-wrapper {
          text-align: center; }
          #header .top .inner .logo-wrapper img {
            max-width: 190px; } }
      @media (min-width: 768px) {
        #header .top .inner .logo-wrapper {
          width: 44.4444444444%;
          float: left;
          margin-left: 2.7777777778%;
          margin-right: 2.7777777778%; } }
    #header .top .inner .contact {
      width: 11.1111111111%;
      float: left;
      margin-left: 2.7777777778%;
      margin-right: 2.7777777778%; }
      @media (min-width: 768px) {
        #header .top .inner .contact {
          width: 44.4444444444%;
          float: left;
          margin-left: 2.7777777778%;
          margin-right: 2.7777777778%; } }
    #header .top .inner .mobile-menu-button {
      width: 11.1111111111%;
      float: left;
      margin-left: 2.7777777778%;
      margin-right: 2.7777777778%; }
      @media (min-width: 768px) {
        #header .top .inner .mobile-menu-button {
          display: none; } }

@media (max-width: 768px) {
  #desktop-navigation {
    display: none; } }

#primary-navigation-wrapper {
  background-color: #1eb533;
  z-index: 200; }
  #primary-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #primary-navigation-wrapper nav {
    max-width: 62em;
    margin-left: auto;
    margin-right: auto; }
    #primary-navigation-wrapper nav:after {
      content: " ";
      display: block;
      clear: both; }

#secondary-navigation-wrapper {
  background-color: #1eb533;
  z-index: 200; }
  #secondary-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #secondary-navigation-wrapper nav {
    max-width: 62em;
    margin-left: auto;
    margin-right: auto; }
    #secondary-navigation-wrapper nav:after {
      content: " ";
      display: block;
      clear: both; }

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file    dropdown.css
 * @package   Dropdown
 * @version   0.8
 * @type    Transitional
 * @stacks    597-599
 * @browsers  Windows: IE6+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.dropdown {
  position: relative;
  z-index: 597;
  float: left; }

ul.dropdown li,
#secondary-navigation > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle; }

ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; }

ul.dropdown ul li {
  float: none;
  background-color: #dddddd; }

ul.dropdown ul ul {
  top: 1px;
  left: 99%; }

ul.dropdown li:hover > ul {
  visibility: visible; }

/**
 * Vertical Left-to-Right Direction CSS Drop-Down Menu Component
 *
 * @file    dropdown.vertical.css
 * @package   Dropdown
 * @version   0.3.2
 * @type    Transitional
 * @requires  dropdown.css
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net                      
 *
 */
ul.dropdown-vertical {
  width: 200px; }

ul.dropdown-vertical ul {
  top: 1px;
  left: 99%; }

ul.dropdown-vertical li {
  float: none; }

/** 
 * Vertical Right-to-Left Direction CSS Drop-Down Menu Component
 *
 * @file    dropdown.vertical.rtl.css
 * @package   Dropdown
 * @version   0.3.0
 * @type    Transitional
 * @requires  dropdown.vertical.css
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */
ul.dropdown-vertical-rtl {
  float: right; }

ul.dropdown-vertical-rtl ul,
ul.dropdown-horizontal > li.dropdown-vertical-rtl ul ul {
  left: auto !important;
  right: 99%; }

ul.dropdown-horizontal li.dropdown-vertical-rtl ul {
  left: auto;
  right: 0; }

ul.dropdown-vertical-rtl li,
li.dropdown-vertical-rtl li {
  text-align: right; }

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file    default.css
 * @name    Default
 * @version   0.1.1
 * @type    transitional
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */
/* -- Base drop-down styling -- */
ul.dropdown,
#secondary-navigation > ul {
  font-weight: bold; }

ul.dropdown li {
  padding: 7px 10px;
  color: white;
  position: relative; }

ul.dropdown li.hover,
ul.dropdown li:hover,
ul.dropdown li.active {
  background-color: #dddddd; }
  ul.dropdown li.hover a,
  ul.dropdown li:hover a,
  ul.dropdown li.active a {
    color: #1eb533; }

#secondary-navigation > ul li.hover,
#secondary-navigation > ul li:hover,
#secondary-navigation > ul li.active {
  background-color: white; }
  #secondary-navigation > ul li.hover a,
  #secondary-navigation > ul li:hover a,
  #secondary-navigation > ul li.active a {
    color: #1eb533; }

ul.dropdown a:link,
ul.dropdown a:visited,
#secondary-navigation > ul a:link,
#secondary-navigation > ul a:visited {
  color: white;
  text-decoration: none; }

ul.dropdown a:hover,
ul.dropdown a:active,
#secondary-navigation > ul a:hover,
#secondary-navigation > ul a:active {
  color: #1eb533; }

/* -- level mark -- */
ul.dropdown ul {
  width: 150px;
  background-color: #FFFFFF; }

ul.dropdown ul li {
  font-weight: normal; }

/* -- Supporting class `dir` -- */
ul.dropdown *.dir > a {
  padding-right: 20px; }
  ul.dropdown *.dir > a:after {
    right: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 5px;
    margin-left: -5px; }

/* -- Components override -- */
ul.dropdown-horizontal ul *.dir > a {
  padding-right: 15px; }
  ul.dropdown-horizontal ul *.dir > a:after {
    right: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #000000;
    border-width: 5px;
    margin-top: -5px; }

ul.dropdown-horizontal > li.dropdown-vertical-rtl ul *.dir > a {
  padding-right: 10px;
  padding-left: 15px; }
  ul.dropdown-horizontal > li.dropdown-vertical-rtl ul *.dir > a:after {
    left: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #000000;
    border-width: 5px;
    margin-top: -5px; }

/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file    default.advanced.css
 * @name    Default
 * @version   0.1
 * @type    transitional
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */
/* -- Base style extension -- */
ul.dropdown li a,
#secondary-navigation > ul li a {
  display: block;
  padding: 17px 20px; }

/* -- Base style override -- */
ul.dropdown li {
  padding: 0; }

/* -- Base style reinitiate: post-override activities -- */
ul.dropdown li.dir > a {
  padding: 17px 30px 17px 20px; }

ul.dropdown ul li.dir > a {
  padding-right: 15px; }

ul.dropdown li.dir ul li a,
ul.dropdown li.dir ul li.dir,
ul.dropdown .dropdown-vertical-rtl ul li a {
  color: #000000; }
  ul.dropdown li.dir ul li a:hover,
  ul.dropdown li.dir ul li.dir:hover,
  ul.dropdown .dropdown-vertical-rtl ul li a:hover {
    color: #1eb533; }

.opacity-90 {
  background-color: rgba(255, 255, 255, 0.9); }

.opacity-80 {
  background-color: rgba(255, 255, 255, 0.8); }

.opacity-70 {
  background-color: rgba(255, 255, 255, 0.7); }

.opacity-60 {
  background-color: rgba(255, 255, 255, 0.6); }

.opacity-50 {
  background-color: rgba(255, 255, 255, 0.5); }

.opacity-40 {
  background-color: rgba(255, 255, 255, 0.4); }

.opacity-30 {
  background-color: rgba(255, 255, 255, 0.3); }

.opacity-20 {
  background-color: rgba(255, 255, 255, 0.2); }

.opacity-10 {
  background-color: rgba(255, 255, 255, 0.1); }

.hero {
  height: 280px; }
  @media (min-width: 768px) {
    .hero {
      height: 320px; } }
  .hero h1 {
    font-size: 35.1px;
    color: white; }

.hero-illustration {
  width: 94.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%;
  display: block;
  height: 280px;
  padding-top: 32px;
  text-align: center; }
  .hero-illustration img {
    max-height: 120px;
    margin-bottom: 10px; }
  @media (min-width: 768px) {
    .hero-illustration {
      width: 27.7777777778%;
      float: left;
      margin-left: 2.7777777778%;
      margin-right: 2.7777777778%;
      height: 320px; }
      .hero-illustration img {
        max-height: 170px; } }

.hero-header {
  display: inline;
  text-align: center; }
  @media (min-width: 768px) {
    .hero-header {
      display: inline-block;
      text-align: left; } }

.hero-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .hero-image {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 66.6666666667%;
      float: left;
      height: 320px;
      padding-top: 32px;
      background-size: cover; } }

ul.checkmarks {
  margin: 18px 0; }
  @media (min-width: 768px) {
    ul.checkmarks {
      margin: 0px 0px 18px 0px; } }
  ul.checkmarks li {
    font-size: 25.2px;
    background-image: url(/images/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 28px 28px;
    padding-left: 47px;
    margin-bottom: 3px; }
    ul.checkmarks li:last-child {
      margin-bottom: 0; }

.modal {
  display: none;
  background-color: #FFF;
  max-width: 95%;
  padding: 10px 15px; }
  @media (min-width: 768px) {
    .modal {
      width: 90%;
      padding: 25px 21px; } }
  @media (min-width: 1024px) {
    .modal {
      width: 70%; } }
  .modal .modal-contact-info, .modal .modal-form {
    width: 94.4444444444%;
    float: left;
    margin-left: 2.7777777778%;
    margin-right: 2.7777777778%; }
  .modal input {
    background-color: #FFF; }
  .modal h3 {
    margin-bottom: 12px; }
  .modal .cat_button {
    background-color: #3a8cc9; }
  .modal .module-price-calculator-stay-cleaning {
    padding: 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .modal .module-price-calculator-stay-cleaning .price-full, .modal .module-price-calculator-stay-cleaning .price-reduced {
        min-height: 180px; } }
    @media (min-width: 768px) {
      .modal .module-price-calculator-stay-cleaning .price-full .description, .modal .module-price-calculator-stay-cleaning .price-reduced .description {
        min-height: 70px; } }

.cat_button {
  float: right;
  margin-top: 6px; }
  .cat_button:hover {
    color: #FFF !important; }

.modal-contact-info {
  margin-bottom: 15px; }

.b-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1eb533;
  padding: 2px 8px; }
  .b-close:hover {
    cursor: pointer;
    background-color: #40df56; }
  .b-close img {
    height: 12px; }

.modal-column {
  width: 94.4444444444%;
  float: left;
  margin-left: 2.7777777778%;
  margin-right: 2.7777777778%; }
  @media (min-width: 768px) {
    .modal-column {
      width: 44.4444444444%;
      float: left;
      margin-left: 2.7777777778%;
      margin-right: 2.7777777778%; } }
  @media (max-width: 768px) {
    .modal-column:last-child {
      margin-top: 10px; } }

.hidden-input {
  display: none; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.45em;
  padding: 0;
  margin-top: 20px;
  text-align: center; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs .tab-header-and-content {
    list-style: none;
    display: inline;
    text-align: left;
    margin-left: -5px; }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top: 0; }
  .accordion-tabs .tab-link {
    background-color: white;
    color: #333333;
    padding: 12px 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-top: 0; }
    @media (min-width: 768px) {
      .accordion-tabs .tab-link {
        padding: 20px 30px; } }
    .accordion-tabs .tab-link:hover {
      background-color: #d9f9de; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      color: white;
      background-color: #1eb533;
      background-color: #1eb533;
      border-bottom-color: #1eb533;
      margin-bottom: -1px; }
  .accordion-tabs .tab-content {
    background: #E8E8E8;
    display: none;
    width: 100%;
    text-transform: normal;
    float: left;
    margin-top: 40px; }
    .accordion-tabs .tab-content h4 {
      border-top: 2px solid #CCCCCC;
      padding: 20px 15px; }
    .accordion-tabs .tab-content ul.services-list > li, .accordion-tabs .tab-content ul.preperations-list > li {
      padding: 20px 15px;
      background-position: center right 15px;
      background-size: 28px 28px;
      background-repeat: no-repeat;
      padding-right: 50px; }
      .accordion-tabs .tab-content ul.services-list > li:nth-child(2n+1), .accordion-tabs .tab-content ul.preperations-list > li:nth-child(2n+1) {
        background-color: white; }
      .accordion-tabs .tab-content ul.services-list > li:nth-child(2n+2), .accordion-tabs .tab-content ul.preperations-list > li:nth-child(2n+2) {
        background-color: #E8E8E8; }
    .accordion-tabs .tab-content ul.services-list > li {
      background-image: url(/images/checkmark.svg); }
    .accordion-tabs .tab-content ul.preperations-list > li {
      background-image: url(/images/preperation.svg); }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=20);
  opacity: 0.2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #1eb533; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1; }

.Zebra_DatePicker {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  margin: 0;
  padding: 0;
  color: #373737;
  background: transparent;
  position: absolute;
  background: #FFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .Zebra_DatePicker:after, .Zebra_DatePicker:before {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important; }
  .Zebra_DatePicker table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    margin: 0 auto;
    table-layout: auto; }
  .Zebra_DatePicker td, .Zebra_DatePicker th {
    text-align: center;
    padding: 5px 0; }
  .Zebra_DatePicker td {
    cursor: pointer; }
  .Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker, .Zebra_DatePicker .dp_yearpicker {
    margin-top: 3px; }
  .Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th {
    width: 30px; }
  .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td {
    width: 30px; }
  .Zebra_DatePicker .dp_header .dp_hover, .Zebra_DatePicker td.dp_selected, .Zebra_DatePicker .dp_footer .dp_hover, .Zebra_DatePicker td.dp_hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .Zebra_DatePicker.dp_visible {
    display: block;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: opacity 0.2s ease-in-out; }
  .Zebra_DatePicker.dp_hidden {
    display: none;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }
  .Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next {
    width: 30px; }
  .Zebra_DatePicker .dp_header .dp_caption {
    font-weight: bold; }
  .Zebra_DatePicker .dp_header .dp_hover {
    background: #DEDEDE;
    color: #373737; }
  .Zebra_DatePicker .dp_daypicker th {
    font-weight: bold; }
  .Zebra_DatePicker td.dp_not_in_month {
    color: #DEDEDE;
    cursor: default; }
  .Zebra_DatePicker td.dp_weekend_disabled {
    color: #DEDEDE;
    cursor: default; }
  .Zebra_DatePicker td.dp_selected {
    background: #3a8cc9;
    color: #FFF !important; }
  .Zebra_DatePicker td.dp_week_number {
    cursor: text;
    font-weight: bold; }
  .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td {
    width: 33%; }
  .Zebra_DatePicker .dp_footer {
    margin-top: 3px; }
  .Zebra_DatePicker td.dp_current, .Zebra_DatePicker td.dp_disabled_current {
    color: #3A87AD; }
  .Zebra_DatePicker td.dp_disabled {
    color: #DEDEDE;
    cursor: default; }
  .Zebra_DatePicker td.dp_hover {
    background: #DEDEDE; }

button.Zebra_DatePicker_Icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("calendar.png") no-repeat left top;
  text-indent: -9000px;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  vertical-align: top; }
button.Zebra_DatePicker_Icon_Disabled {
  background-image: url("calendar-disabled.png"); }
button.Zebra_DatePicker_Icon {
  margin: 0 0 0 3px; }
button.Zebra_DatePicker_Icon_Inside {
  margin: 0 3px 0 0; }

/* don't set vertical margins! */
footer {
  max-width: 62em;
  margin-left: auto;
  margin-right: auto;
  background-color: #737373;
  padding: 40px 0px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer span, footer p, footer li {
    color: #a6a6a6; }
  footer li a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #e6e6e6; }
  footer li a:hover {
    color: #a6a6a6; }
  @media (max-width: 768px) {
    footer .logo-wrapper {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    footer .copyright-container {
      text-align: left; } }

/* LOAD THEME */
body {
  background-color: white;
  background-image: url("/images/pattern-cleaning-1.svg"); }

.hero {
  background-color: #1eb533; }
  @media (min-width: 768px) {
    .hero {
      background-position: center right; } }
  .hero h1 {
    color: white; }
  .hero .hero-image {
    background-image: url("/images/hero-image.jpg"); }

.module-price-calculator-stay-cleaning {
  float: left;
  width: 100%;
  padding: 25px 0px 30px 0px; }
  .module-price-calculator-stay-cleaning input {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: white;
    text-align: center; }
  .module-price-calculator-stay-cleaning input::-webkit-input-placeholder {
    text-align: center; }
  .module-price-calculator-stay-cleaning input:-moz-placeholder {
    text-align: center; }
  .module-price-calculator-stay-cleaning input::-moz-placeholder {
    text-align: center; }
  .module-price-calculator-stay-cleaning input:-ms-input-placeholder {
    text-align: center; }
  .module-price-calculator-stay-cleaning .price-full, .module-price-calculator-stay-cleaning .price-reduced {
    width: 100%;
    float: left;
    padding: 10px 10px 30px 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .module-price-calculator-stay-cleaning .price-full, .module-price-calculator-stay-cleaning .price-reduced {
        width: 50%;
        min-height: 125px; } }
    .module-price-calculator-stay-cleaning .price-full .price, .module-price-calculator-stay-cleaning .price-reduced .price {
      font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-weight: 700;
      font-size: 32.4px; }
  .module-price-calculator-stay-cleaning .description {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.25em; }
    @media (min-width: 768px) {
      .module-price-calculator-stay-cleaning .description {
        min-height: 55px; } }
  .module-price-calculator-stay-cleaning .price-full {
    background-color: #CCCCCC; }
  .module-price-calculator-stay-cleaning .price-reduced {
    background-color: #1eb533; }
    .module-price-calculator-stay-cleaning .price-reduced .price {
      color: white; }
    .module-price-calculator-stay-cleaning .price-reduced .description {
      color: white; }

button {
  background-image: url(/images/arrow.svg);
  background-position: center right 1.8em;
  background-repeat: no-repeat;
  padding: 0.75em 3em 0.75em 2em; }

.button-text-margin {
  margin-top: 6px; }

.cta-block button {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .cta-block button {
      margin-top: 0; } }

@media (min-width: 768px) {
  .quick-info .quick-info-header {
    margin-bottom: 25px; } }
@media (max-width: 768px) {
  .quick-info ul.checkmarks li {
    padding-left: 45px; } }
@media (max-width: 768px) {
  .quick-info .large-font-size {
    font-size: 18px; } }

.modal {
  background-color: #E8E8E8; }

@media (min-width: 768px) {
  .contact-section .button-container {
    padding: 2.7777777778%; } }
@media (max-width: 768px) {
  .contact-section .button-container {
    margin-top: 20px; } }

#header .logo-wrapper {
  margin-top: 7px; }

.office-cleaning-image {
  max-width: 100%; }
  @media (min-width: 768px) {
    .office-cleaning-image {
      max-width: 558px;
      max-height: 461px; } }

@media (max-width: 768px) {
   .customer-quote-section h3 {
    text-align: left; } }

@media (min-width: 768px) {
  .quotation-mark-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.6666666667%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .quotation-mark-container:nth-child(2) {
      padding-right: 2.7777777778%; }
    .quotation-mark-container:last-child {
      padding-left: 2.7777777778%; } }
.quotation-mark-container img {
  max-height: 98px;
  max-width: 125px; }

@media (min-width: 768px) {
  .about-company-section p {
    padding-right: 45px;
    padding-left: 45px; } }
@media (max-width: 768px) {
  .about-company-section h2 {
    text-align: left; } }
