/* Load mixin libs */
/* Load Susy */
/* Load Breakpoint */
/* LOAD VARIABLES */
/* LOAD FRAMEWORK */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f2f2f2;
  color: #333333;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-top: 0 !important; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

nav {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      list-style: none; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  margin: 0; }

.headwrap {
  box-shadow: 0 2px 3px 0 #DFDFDF; }
  .headwrap::after {
    clear: both;
    content: "";
    display: table; }

article {
  background-color: #FFFFFF; }

.main-content-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .main-content-container:after {
    content: " ";
    display: block;
    clear: both; }

#header {
  background-color: white;
  position: relative; }
  #header .top::after {
    clear: both;
    content: "";
    display: table; }
  #header .top .inner {
    height: 90px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #header .top .inner:after {
      content: " ";
      display: block;
      clear: both; }
    #header .top .inner .logo-wrapper, #header .top .inner .contact {
      width: 97.2222222222%;
      float: left;
      margin-left: 1.3888888889%;
      margin-right: 1.3888888889%; }
      @media (min-width: 768px) {
        #header .top .inner .logo-wrapper, #header .top .inner .contact {
          width: 47.2222222222%;
          float: left;
          margin-left: 1.3888888889%;
          margin-right: 1.3888888889%; } }
      #header .top .inner .logo-wrapper .call, #header .top .inner .contact .call {
        display: none;
        margin-top: 1.32em; }
        @media (min-width: 768px) {
          #header .top .inner .logo-wrapper .call, #header .top .inner .contact .call {
            display: block; } }
        #header .top .inner .logo-wrapper .call img, #header .top .inner .contact .call img {
          float: right;
          display: block; }
        #header .top .inner .logo-wrapper .call a, #header .top .inner .contact .call a {
          margin-left: 18px;
          float: right;
          display: block;
          color: #1eb533;
          font-size: 2em; }

#mobile-navigation {
  display: block; }
  @media (min-width: 768px) {
    #mobile-navigation {
      display: none; } }

#desktop-navigation {
  display: none; }
  @media (min-width: 768px) {
    #desktop-navigation {
      display: block; } }

#primary-navigation-wrapper {
  background-color: #1eb533;
  z-index: 200; }
  #primary-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #primary-navigation-wrapper nav {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #primary-navigation-wrapper nav:after {
      content: " ";
      display: block;
      clear: both; }

#secondary-navigation-wrapper {
  background-color: #22cb39;
  z-index: 200; }
  #secondary-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #secondary-navigation-wrapper nav {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #secondary-navigation-wrapper nav:after {
      content: " ";
      display: block;
      clear: both; }

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file    dropdown.css
 * @package   Dropdown
 * @version   0.8
 * @type    Transitional
 * @stacks    597-599
 * @browsers  Windows: IE6+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.dropdown {
  position: relative;
  z-index: 597;
  float: left; }

ul.dropdown li,
#secondary-navigation > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle; }

ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; }

ul.dropdown ul li {
  float: none;
  background-color: #dddddd; }

ul.dropdown ul ul {
  top: 1px;
  left: 99%; }

ul.dropdown li:hover > ul {
  visibility: visible; }

/**
 * Vertical Left-to-Right Direction CSS Drop-Down Menu Component
 *
 * @file    dropdown.vertical.css
 * @package   Dropdown
 * @version   0.3.2
 * @type    Transitional
 * @requires  dropdown.css
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net                      
 *
 */
ul.dropdown-vertical {
  width: 200px; }

ul.dropdown-vertical ul {
  top: 1px;
  left: 99%; }

ul.dropdown-vertical li {
  float: none; }

/** 
 * Vertical Right-to-Left Direction CSS Drop-Down Menu Component
 *
 * @file    dropdown.vertical.rtl.css
 * @package   Dropdown
 * @version   0.3.0
 * @type    Transitional
 * @requires  dropdown.vertical.css
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */
ul.dropdown-vertical-rtl {
  float: right; }

ul.dropdown-vertical-rtl ul,
ul.dropdown-horizontal > li.dropdown-vertical-rtl ul ul {
  left: auto !important;
  right: 99%; }

ul.dropdown-horizontal li.dropdown-vertical-rtl ul {
  left: auto;
  right: 0; }

ul.dropdown-vertical-rtl li,
li.dropdown-vertical-rtl li {
  text-align: right; }

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file    default.css
 * @name    Default
 * @version   0.1.1
 * @type    transitional
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */
/* -- Base drop-down styling -- */
ul.dropdown,
#secondary-navigation > ul {
  font-weight: bold; }

ul.dropdown li {
  padding: 7px 10px;
  color: white;
  position: relative; }

ul.dropdown li.hover,
ul.dropdown li:hover,
ul.dropdown li.active {
  background-color: #dddddd; }
  ul.dropdown li.hover a,
  ul.dropdown li:hover a,
  ul.dropdown li.active a {
    color: #1eb533; }

#secondary-navigation > ul li.hover,
#secondary-navigation > ul li:hover,
#secondary-navigation > ul li.active {
  background-color: white; }
  #secondary-navigation > ul li.hover a,
  #secondary-navigation > ul li:hover a,
  #secondary-navigation > ul li.active a {
    color: #1eb533; }

ul.dropdown a:link,
ul.dropdown a:visited,
#secondary-navigation > ul a:link,
#secondary-navigation > ul a:visited {
  color: white;
  text-decoration: none; }

ul.dropdown a:hover,
ul.dropdown a:active,
#secondary-navigation > ul a:hover,
#secondary-navigation > ul a:active {
  color: #1eb533; }

/* -- level mark -- */
ul.dropdown ul {
  width: 150px;
  background-color: #FFFFFF; }

ul.dropdown ul li {
  font-weight: normal; }

/* -- Supporting class `dir` -- */
ul.dropdown *.dir > a {
  padding-right: 20px; }
  ul.dropdown *.dir > a:after {
    right: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 5px;
    margin-left: -5px; }

/* -- Components override -- */
ul.dropdown-horizontal ul *.dir > a {
  padding-right: 15px; }
  ul.dropdown-horizontal ul *.dir > a:after {
    right: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #000000;
    border-width: 5px;
    margin-top: -5px; }

ul.dropdown-horizontal > li.dropdown-vertical-rtl ul *.dir > a {
  padding-right: 10px;
  padding-left: 15px; }
  ul.dropdown-horizontal > li.dropdown-vertical-rtl ul *.dir > a:after {
    left: 7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #000000;
    border-width: 5px;
    margin-top: -5px; }

/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file    default.advanced.css
 * @name    Default
 * @version   0.1
 * @type    transitional
 * @browsers  Windows: IE7+, Opera7+, Firefox3+
 *        Mac OS: Safari2+, Firefox3+
 *
 * @link    http://www.lwis.net/free-css-drop-down-menu
 * @copyright 2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */
/* -- Base style extension -- */
ul.dropdown li a,
#secondary-navigation > ul li a {
  display: block;
  padding: 17px 20px; }

/* -- Base style override -- */
ul.dropdown li {
  padding: 0; }

/* -- Base style reinitiate: post-override activities -- */
ul.dropdown li.dir > a {
  padding: 17px 30px 17px 20px; }

ul.dropdown ul li.dir > a {
  padding-right: 15px; }

ul.dropdown li.dir ul li a,
ul.dropdown li.dir ul li.dir,
ul.dropdown .dropdown-vertical-rtl ul li a {
  color: #000000; }
  ul.dropdown li.dir ul li a:hover,
  ul.dropdown li.dir ul li.dir:hover,
  ul.dropdown .dropdown-vertical-rtl ul li a:hover {
    color: #1eb533; }

.opacity-90 {
  background-color: rgba(255, 255, 255, 0.9); }

.opacity-80 {
  background-color: rgba(255, 255, 255, 0.8); }

.opacity-70 {
  background-color: rgba(255, 255, 255, 0.7); }

.opacity-60 {
  background-color: rgba(255, 255, 255, 0.6); }

.opacity-50 {
  background-color: rgba(255, 255, 255, 0.5); }

.opacity-40 {
  background-color: rgba(255, 255, 255, 0.4); }

.opacity-30 {
  background-color: rgba(255, 255, 255, 0.3); }

.opacity-20 {
  background-color: rgba(255, 255, 255, 0.2); }

.opacity-10 {
  background-color: rgba(255, 255, 255, 0.1); }

/* LOAD THEME */
body {
  background-color: #f2f2f2;
  background-image: url("/images/pattern-cleaning-1.svg"); }
