.hero
  background-color: $theme-color
  background-image: url('/images/hero-pattern.svg')
  background-position: center right 38%

  +breakpoint($tablet)
    background-position: center right
    
  h1
    color: $inverted-color