.module-price-calculator-stay-cleaning
  float: left
  width: 100%
  padding: 20px 0px

  input
    border: 0
    border-radius: 0
    margin-bottom: 0

  .price-full, .price-reduced
    width: 50%
    float: left
    padding: 10px 0px 30px 0px
    text-align: center

  .description
    display: block

  .price
    font-family: $sans-serif
    font-weight: 700
    font-size: $h2-font-size

  .price-full
    background-color: $medium-gray

  .price-reduced
    background-color: $theme-color

    .price
      color: $inverted-color